name: Gitflow Auto-Merge

on:
  workflow_run:
    workflows:
      - "Release"
    types:
      - completed
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  merge-back:
    name: Gitflow
    runs-on: ubuntu-latest
    # Only run if the release workflow succeeded
    if: github.event.workflow_run.conclusion == 'success'
    
    steps:
      - name: Run gitflow action
        uses: Logerfo/gitflow-action@0.0.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          dev: develop
          master: main
          release: release
          release-regex: '^release/(.*)'
          label: gitflow
          auto-merge: true
          require-merge: false
